* {
  box-sizing: border-box;
}

:root {
  --header-height: 60px;
  --footer-height: 50px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --sider-width: 300px;

  --color-background: #90ccf4;
  --color-secondary: #5da2d5;
  --color-accent: #f78888;
  --color-main: #ffffff;

  --color-text: hsl(200, 15%, 8%);

  --shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);

  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight);
}
