* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: 'Gill Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 18px;
  --fs-lg: 24px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Colors */
  --colors-text: hsl(200, 15%, 8%);

  /* Other */
  --radii: 0.5rem;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  color: var(--colors-text);
  user-select: none;
}

h1,
h2,
h3 {
  margin: 0;
  /* font-family: var(--family); */
  /* font-weight: var(--fw-light); */
}

/* h1 {
  font-size: var(--fs-lg);
}

h2 {
  font-size: var(--fs-md);
}

h3 {
  font-size: var(--fs-sm);
} */
